<h1>Rails ActionCable example</h1>

<%= form_for(@message, url: {action: "message"}) do |f| %>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
    <%= f.submit %>
<% end %>

<ul id="messages">
    <% @messages.each do |message| %>
    <li><%= message.message %></li>
    <% end %>
</ul>
